@page "/"
@using Auth0_Blazor.Models
@using Auth0_Blazor.Services
@using Auth0_Blazor.Icons
@inject PlantService PlantService
@inject NavigationManager NavigationManager
@inject ILogger<Home> Logger
@inject UserPlantService UserPlantService
@inject UserService UserService

<PageTitle>Home</PageTitle>

<div class="grid-layout-cards">
    @foreach(var plant in plants) {
        <div style="flex: 1 1 300px; max-width: 300px">
            <MudCard Class="m-2 rounded-3 d-flex" Width="300px" Style="height: 400px;">
                <div class="image-container-relative">
                    <MudCardMedia Image="@plant.ImageUrl" Height="250" Class="object-fit-cover"/>
                    <AuthorizeView>
                        <Authorized>
                            <MudButton Class="button-bottom-right"
                                       OnClick="@(() => AddPlantToHouseHold(@plant.Id))">
                                <AddSymbol/>
                            </MudButton>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <MudCardContent Class="d-flex flex-column align-items-center justify-content-center gap-3">
                    <MudText Typo="Typo.h5">
                        @plant.Name
                    </MudText>
                    <MudText Typo="Typo.body2">
                        @Truncate(plant.Description, 70)
                    </MudText>
                </MudCardContent>
                <MudCardActions Class="d-flex align-items-center justify-content-center">
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => NavigateToPlantById(@plant.Id))">Learn more</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    }
</div>

@code {
    private List<Plant> plants;

    protected override async Task OnInitializedAsync()
    {
        plants = await PlantService.GetAllPlantsAsync();
    }
        
    private string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text)) return text;
        return text.Length > maxLength ? text.Substring(0, maxLength) + "..." : text;
    }
        
    private void NavigateToPlantById(int id)
    {
        NavigationManager.NavigateTo($"/plants/{id}");
    }
    
    private void AddPlantToHouseHold(int id)
    {
        // 1. Add the user who is logged in to the DB

        // 2. Add the plant to the connection table between the user and the plant
        Logger.LogInformation($"Plant with ID {id} added to household.");
        // You might want to call a service method here to handle the addition
    }
}